<h1>Submit a comment:</h1>
<form class="new-blog-form">
    
    <label for="blog_comment">
    Content:
    </label>
    <br />
    <textarea id="comment_content" name="content" rows="5" cols="30">
     {{content}}
    </textarea>
    <br />

    <button class="btn btn-primary" id="comment_submit" type="submit" value="Submit">
      Submit
    </button>
  </form>