
<div class="container">
  <div class="row">
     <div class="col-sm-8" id="commentUserName">
        <a href="/api/">
           <p>{{comment.user_name}}</p>
         </a>
      </div>
     <div class="col-sm-4" id=""></div>
  </div>
  <div class="row">
    <div class="col-sm-8" id="commentContent">
        <a href="/api/">
           <p>{{comment.content}}</p>
         </a>
      </div>
  </div>
</div>
